.arche {
  touch-action: none;
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.arche-grid {
  stroke: none;
  fill: #888;
  fill-opacity: .2;
}
.arche-grid-point {
  r: .125;
}
.arche-grid-row:nth-child(even) > :nth-child(even) {
  fill-opacity: .6;
}

.arche-grid-row-hover {
  r: .25;
  fill: #08f;
}
.arche-grid-column-hover {
  r: .25;
  fill: #08f;
}
:root:root .arche-grid-point-hover {
  r: .5;
  fill: #08f;
  fill-opacity: 1;
}

.arche[data-mode=line],
.arche[data-mode=arc] {
  cursor: crosshair;
}

.arche[data-mode=erase] > .arche-drawing > path {
  cursor: pointer;
}
.arche[data-mode=erase] > .arche-drawing > path:hover {
  stroke: #f43;
}

.arche-new {
  stroke: #08f;
}
